extends ../node_modules/pug-bootstrap/_bootstrap


block head
  link(rel='stylesheet', href='/stylesheets/style.css')
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="")
  meta(name="author",content="")
  link(rel="icon",href="../../favicon.ico")
  title= title
  block styles
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")


block body
  +navbar("MySQL Blog","dropdown_menu")
    +nav_item("/") Home
    +nav_item("/create", "active") Create Blog Post

  section
    .container
      h2 Create Blog Post
      form(method='POST' action='/create')
        div.form-group
          label(for='title') Post Title:
          input#name.form-control(type='text', placeholder='Hello world!' name='title' required pattern="[A-Za-z0-9!,.; ]+")
        div.form-group
          label(for='content') Post Content:
          textarea#content.form-control(placeholder='This is my blog post.' rows='10'  name='content' required pattern="[A-Za-z0-9!,.; ]+")
        button.btn.btn-primary(type='submit') Create Post