extends ../node_modules/pug-bootstrap/_bootstrap

block body
  +navbar("MySQL Blog","dropdown_menu")
    +nav_item("/","active") Home
    +nav_item("/create") Create Blog Post

  section
   each item in posts
    .blog-post
      h2= item.Title
      p= item.Content
        
