extends ../node_modules/pug-bootstrap/_bootstrap

block body
  h1= title
  p Welcome to #{title}
  
  section
   .blog-post
      h2 First Blog post
      p.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia unde debitis, odit repellat libero voluptatem veritatis ipsum consectetur adipisci praesentium suscipit autem ipsa commodi vel optio culpa atque quos fugiat!
        
